# List
alias la='ls -aF --color=auto'
alias ls='ls -F --color=auto'
alias ll='ls -lhF --color=auto'
alias l='ls -lhaF --color=auto'

# Sudo shortcuts
alias iptables='sudo iptables'
alias ipset='sudo ipset'
alias shutdown='sudo shutdown -hP 0'
alias reboot='sudo reboot'
alias service='sudo service'
alias umount='sudo umount'
alias screen='screen -D -R'
alias t='/home/roy/.todo/todo.sh'

# Package manager
alias pac-install='sudo pacman -S'
alias pac-remove='sudo pacman -Rns'
alias pac-remove-all='sudo pacman -Rscn' 
alias pac-update='sudo pacman -Syu'
alias pac-search='sudo pacman -Ss'
alias pac-show='sudo pacman -Si'

# Yaourt Package manager
alias yao-install='yaourt -S --noconfirm'
alias yao-remove='yaourt -Rsn'
alias yao-remove-all='yaourt -Rscn'
alias yao-update='yaourt -Syua --devel --noconfirm'
alias yao-search='yaourt -Ss'

# Yum package manager
alias yum-install='sudo yum install'
alias yum-remove='sudo yum remove'
alias yum-search='sudo yum search'
alias yum-update='sudo yum update'
alias yum-info='sudo yum info'
alias yum-clean='sudo yum clean all'

# Apt package manager
alias apt-install='sudo apt-get install'
alias apt-remove='sudo apt-get purge'
alias apt-update='sudo apt-get update && sudo apt-get upgrade -y'
alias apt-search='sudo apt-cache search'
alias apt-show='sudo apt-cache show'
alias apt-list='sudo dpkg --get-selections'
alias apt-clean='sudo apt-get autoremove'

# Global aliases
alias -g G='| egrep --color=always'
alias -g T='| tail'
alias -g L='| less -R'
#alias -g C='| ccze'
alias -g JS='| python -mjson.tool'

# Grep
alias grep='grep --color=always'

# Tmux
alias tmux='/home/roy/.tmux/default.sh'
