# List
alias la='ls -aF --color=auto'
alias ls='ls -F --color=auto'
alias ll='ls -lhF --color=auto'
alias l='ls -lhaF --color=auto'

# Sudo shortcuts
alias iptables='sudo iptables'
alias ip6tables='sudo ip6tables'
alias ipset='sudo ipset'
alias shutdown='sudo shutdown -hP 0'
alias reboot='sudo reboot'
alias service='sudo service'
alias systemctl='sudo systemctl'
alias umount='sudo umount'
alias usermount='sudo mount -o uid=$UID,gid=$GID'
alias screen='screen -D -R'
alias t='$HOME/.todo/todo.sh'

# Package manager
alias pac-install='sudo pacman --color=always -S'
alias pac-remove='sudo pacman --color=always -Rns'
alias pac-remove-all='sudo pacman --color=always -Rscn'
alias pac-update='sudo pacman --color=always -Syu'
alias pac-search='pacman --color=always -Ss'
alias pac-show='pacman --color=always -Si'
alias pac-clean='sudo pacman --color=always -Sc'

# Yaourt Package manager
alias yao-install='yaourt -S --noconfirm'
alias yao-remove='yaourt -Rsn'
alias yao-remove-all='yaourt -Rscn'
alias yao-update='yaourt -Syua --devel --noconfirm'
alias yao-search='yaourt -Ss'

# Yum package manager
alias yum-install='sudo yum install'
alias yum-remove='sudo yum remove'
alias yum-search='sudo yum search'
alias yum-update='sudo yum update'
alias yum-info='sudo yum info'
alias yum-clean='sudo yum clean all'

# Apt package manager
alias apt-install='sudo apt install'
alias apt-remove='sudo apt remove'
alias apt-update='sudo apt update && sudo apt upgrade'
alias apt-search='apt search'
alias apt-show='apt show'
alias apt-list='apt list'
alias apt-clean='sudo apt-get autoremove'

# Global aliases
alias -g G='| egrep --color=always'
alias -g T='| tail'
alias -g L='| less -R'
alias -g W='| wc -l'
alias -g C='| ccze'
alias -g JS='| python -mjson.tool'

# Grep
alias grep='grep --color=always'

# Tmux
alias tmux='$HOME/.tmux/default.sh'

# PGP
alias gpg-new-card='gpg-connect-agent "scd serialno" "learn --force" /bye'
