[user]
	email = rkokk@protonmail.com
	name = RoyK
	signingkey = EC258EDBB0F06DAC
[core]
	editor = vim
[commit]
	gpgsign = true
[push]
	default = simple
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=iso --date=format:'%Y-%m-%d %H:%M:%S' --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ai)%C(reset) %C(white)%s%C(reset) %C(dim green)[%G?]%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%n''          %C(dim green)[%G? - %GK]%C(reset)' --all
  lg  = !"git lg1"
  lgf = !"git lg -p"
[gpg]
	program = gpg2
[merge]
	tool = meld
[pull]
    rebase=false
